body {
  background: linear-gradient(148deg, rgb(236, 111, 105), rgb(255, 218, 165))
    fixed;

  font-family: "Raleway", sans-serif;
}

.principal-container {
  width: 80%;
  max-width: 850px;

  display: block;
  margin: 50px auto;
  margin-bottom: 15px;

  padding: 35px 35px;
  border-radius: 20px;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 30px 2px rgb(218, 108, 103);
}

h1 {
  text-align: center;
  color: white;

  margin: 20px;
  padding: 10px;

  font-size: 40px;
  font-family: "Hepta Slab", serif;
}

select {
  font-size: 18px;
  color: rgb(115, 120, 124);

  width: 80%;

  display: block;
  margin: 25px auto;

  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid white;
}

.city {
  height: 235px;
  width: 235px;

  background-image: url("../img/earthworld.png");
  background-repeat: no-repeat;

  box-shadow: 2px 2px 30px 2px rgba(218, 109, 103, 0.315);
  border-radius: 50%;

  display: block;
  margin: 20px auto;

  padding-top: 70px;
  padding-left: 13px;
  padding-right: 13px;
}

.name {
  background-color: rgb(255, 255, 255);
  color: #ed706a;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 2px;
  padding: 5px;
  box-shadow: 2px 2px 30px 2px rgba(218, 109, 103, 0.158);
}

.name h2 {
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 600;
}

.date {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  opacity: 0.8;
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.date h3 {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  color: #ec766f;
}

.time {
  background-color: #e9817b;
  color: white;
  border-radius: 28px;
  padding: 10px 5px;
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

.time h4 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0px;

  font-family: "Jost", sans-serif;
}

.time small {
  font-size: 17px;
  vertical-align: middle;
}

footer {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  color: #d16661;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(252, 252, 252);
}
